@font-face {
	font-family: "iconfont"; /* Project id 4038941 */
	src: url("//at.alicdn.com/t/c/font_4038941_o8tsl97car.woff2?t=1682576705569")
			format("woff2"),
		url("//at.alicdn.com/t/c/font_4038941_o8tsl97car.woff?t=1682576705569")
			format("woff"),
		url("//at.alicdn.com/t/c/font_4038941_o8tsl97car.ttf?t=1682576705569")
			format("truetype");
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-qingchu:before {
	content: "\e607";
}

.icon-huabi_huaban1:before {
	content: "\e676";
}

.icon-rubber-full:before {
	content: "\ea15";
}

.icon-huabi1:before {
	content: "\e601";
}

.icon-return:before {
	content: "\e619";
}

.icon-shengyinjingyin:before {
	content: "\eca9";
}

.icon-shengyin:before {
	content: "\e8b8";
}

.icon-hanbaobao:before {
	content: "\e606";
}

.icon-huabi-copy:before {
	content: "\ecaa";
}

.icon-huabi:before {
	content: "\e62a";
}

.icon-guazi:before {
	content: "\e60a";
}

.icon-huaban:before {
	content: "\e63f";
}

.icon-tiantianquan:before {
	content: "\e61c";
}

.icon-yu:before {
	content: "\e6a7";
}
